.container {
    color: rgb(52, 52, 52);

}

.create {
    margin-top: 1rem;
}

.create a {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}

.form-container {
    padding-top: 6.5rem;
}
