.header {
  height: 6rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #14213d;
}

.header a {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  text-decoration: none;
  color: inherit;

  font-size: 1rem;
}

.header a:hover {
  opacity: 0.5;
}

.header h2 span {
  color: #fca311;
}
