@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap");
.App {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: #E5E5E5;
  color: white;
}

.content {
  color: rgb(52, 52, 52);
}
